name: test&lint

on: [push]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12-dev', '']
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ contains(fromJSON('["3.11", "3.12-dev", ""]'), matrix.python-version) }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        #allow-prereleases: true
        #cache: pip
    - name: deps
      run: |
        python -m pip install --upgrade pip
        # if [ -f requirements.txt ]; then python -m pip install -r requirements.txt; fi
        python -m pip install --user --editable .[knossos_segmentation]
        python -m pip install --user pytest pylint flake8
      shell: bash
    - name: pytest
      run: python -m pytest
    - name: pylint
      run: python -m pylint $(git ls-files '*.py') || true
    - name: flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        python -m flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exit-zero
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        python -m flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      shell: bash
